.resumeContainer {
  --color: #23e289;
  
  margin: 0 auto;
  /* margin-top: 4%; */
  
  flex: 1.2;
  height: fit-content;
  min-height: 950px;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;

  background-color: white;

  /* border-bottom: 2px solid #0a2744; */
  /* border: 2px solid #000; Main border color */
  
  /* border-style: double; */

  padding-left: 3%;
  color: #000;
  
}



.resumeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 background-color: #0a2744;
 color: white;
 width: 100%;
 /* width: 100%;
 height: 30%;
 position:relative; */
}


@media (min-width: 400px) {
  .resumeContainer {
    width: 400px;
  }
.resumeHeader{
  align-items:first baseline;
}
  .reMain{
    display: flex;
    flex-direction: column;
  }
  .resumeHeader .resumeLinks{
    width: 55%;
    display: flex;
    flex-direction: column;
  }

}

@media (min-width: 800px) {
  .resumeContainer {
    min-width: 700px;
    max-width: 850px;
  }
  .resumeHeader .resumeLinks{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }
  .resumeHeader{
    align-items: center;
  }
  .reMain{
  display: flex;
  flex-direction: row;
  }
  .reCol1 {
    display: flex;
  flex-direction: column;
  }
  .reCol2 {
    display: flex;
  flex-direction: column;
  }
}

.resumeHeader .resumeHeading {
  font-size: 2.7rem;
  font-weight: 500;
  text-transform: capitalize;
  
}

.resumeHeader .resumeSubHeading {
  color: var(--color);
  font-weight: 500;
  font-size: 1.1rem;
  
 
}

.resumeHeader .resumeLinks {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  row-gap: 8px;
  margin-top: 20px;
}

.resumeHeader .resumeLink {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding-bottom: 25px;
}

.resumeHeader .resumeLink svg {
  color: var(--color);
  height: 16px;
  width: 16px;
}

.reMain {
  display: flex;
  gap: 30px;
  padding-top: 5%;
}

.reCol1 {
  flex: 1.3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.reCol2{
  flex: 1.3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  

  
}

.cv-middle-border {
  width: 2px;
  background-color: #2c3e50;
  margin: 0 20px;
 
}

.reSection .reSectionTitle {
  font-size: 1.4rem;
  font-weight: bold;
  /* width: 90%; */
  border-bottom: 2px solid #000;
}

.reSection .reContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 0;
}

.reSection .reContent .reItem {
  border-bottom: 2px dotted #5a1212;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 10px;
}

.reSection .reContent > div {
  border-bottom: 1px dotted rgb(215, 203, 218);
}

.reSection .reContent > div:last-child{
  border-bottom: none;
}

.reContent .reTitle {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.3rem;
}

.reContent .reSubTitle {
  font-weight: bold;
  color: var(--color);
  font-size: 1rem;
}

.reContent .reOverview {
  font-size: 0.9rem;
}

.reContent .reLink {
  display: flex;
  gap: 5px;
  font-size: 0.82rem;
  cursor: pointer;
  color: var(--color);
}

.reContent .reLink svg{
  height: 14px;
  width: 14px;
  color: var(--color);
}

.reContent .reDate{
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 0.9rem;
}

.reContent .reDate svg {
  height: 14px;
  width: 14px;
  color: var(--color);
}

/* .reContent .rePoints{
  padding-left: 18px;
  font-size: 0.875rem;
}

.numbered{
  padding-left: 18px;
  font-size: 0.875rem;
} */

.reContent .rePoints,.numbered{
  padding-left: 18px;
  font-size: 0.875rem;
 
}
.numbered li {
  list-style-type: decimal;
}

