.container-body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    align-items: center;
    padding-top: 0;

    color: rgb(236, 225, 225);
    padding-top: 8%;
}
@media (min-width: 400px) {
    .toolbar{
        display: flex;
        flex-direction: column;
    }
    .colors{
        width: 80%;
    }
    .toolbar button  {
        width: 40%;
    }
}

@media (min-width: 650px) {
    .colors{
        width: 50%;
    }
    .toolbar button  {
        width: 25%;
    }
}

@media (min-width: 800px) {
    .toolbar{
        display: flex;
        flex-direction: row;
    }
    .colors{
        width: 84%;
    }
    .toolbar button  {
        width: 16%;
    }
}
.heading-body {
    font-weight: 500;
    font-size: 2.1rem;
}

.toolbar {
    width: 100%;
    gap: 40px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
}

.colors {
    display: flex;
    gap: 20px;
    padding: 0 30px;
}

.colors .color {
    height: 36px;
    width:  36px;
    border-radius: 50%;
    background-color: aqua;
}

.toolbar button {
    padding:  8px 16px;
    border-radius: 5px;
    background-color: rgb(4, 21, 57);
    color: rgb(238, 232, 232);
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 1px;
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
}

.toolbar button svg {
    height: 20px;
    width: 20px;
}

.editor-main{
    display: flex;
    gap: 30px;
    width: 100%;
    flex-direction: column;
}